$primary-color: #007AFF;
$accent-color: #007AFF;
$accent-color: #c0392b;
$primary-color: #444;
$border-color: #cdcdcd;
$border-radius: 3px;
$topbar-height: 44px;
$tabbar-height: 49px;
$spacing: 8px;
$view-padding: $spacing;
$z-tabbar: 1;
$z-topbar: 1;
$z-sheet: 2;