.Logo {
  display: flex;
  align-items: baseline;
  justify-content: center;
  height: 50px;
  margin-bottom: 4 * $spacing;

  .LogoIcon {
    height: 100%;
  }

  .LogoName {
    height: 100%;
  }
}
