.TabBar {
  position: absolute;
  z-index: $z-tabbar;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  min-height: $tabbar-height;
  max-height: $tabbar-height;
  border-top: 1px solid $border-color;
  background-color: #fff;
  background-color: #f8f8f8;
}

.TabBarLink {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: .5;
  width: 100%;
  text-decoration: none;
  color: #000;

  img {
    width: 25px;
    height: 25px;
  }

  span {
    // display: none;
    margin-top: 3px;
    line-height: 1;
    font-size: 11px;
  }

  &.active {
    opacity: 1;
    color: $accent-color;

    &::after {
      display: none;
      content: '';
      position: absolute;
      bottom: 2px;
      width: 5px;
      height: 5px;
      border-radius: 100%;
      background-color: $accent-color;
    }
  }
}
