.TopBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $z-topbar;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: calc(#{$topbar-height} + 20px);
  height: calc(#{$topbar-height} + env(safe-area-inset-top));
  font-size: 17px;
  color: #fff;
  background-color:$primary-color;
  padding-top: 20px;
  padding-top: env(safe-area-inset-top);
  // border-bottom: 1px solid scale-color($primary-color, $lightness: -30%);

}

.TopBarRight,
.TopBarLeft {
  display: flex;
  align-items: stretch;
  width: 30%;
}

.TopBarRight {
  justify-content: flex-end;

  &:last-child:first-child {
    width: 100%;
  }
}

.TopBarCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  font-weight: bold;

  &:first-child {
    margin-left: 30%;
  }

  &:last-child {
    margin-right: 30%;
  }

  h1 {
    font-size: 17px;
  }
}
