.TopBar {
  position: absolute;
  z-index: $z-topbar;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: stretch;
  // justify-content: space-between;
  min-height: $topbar-height;
  max-height: $topbar-height;
  font-size: 17px;
  color: #fff;
  background-color:$primary-color;
  // border-bottom: 1px solid scale-color($primary-color, $lightness: -30%);
}

.TopBarRight,
.TopBarLeft {
  display: flex;
  align-items: stretch;
  width: 30%;


}

.TopBarLeft {
  width: auto;
  span {
    display: none;
  }
}

.TopBarRight {
  justify-content: flex-end;

  &:last-child:first-child {
    width: 100%;
  }
}

.TopBarCenter {
  display: flex;
  align-items: center;
  // justify-content: center;
  padding-left: 20px;
  width: 40%;
  flex-grow: 1;
  
  &:first-child {
    // margin-left: 30%;
  }
  
  &:last-child {
    margin-right: 30%;
  }
  
  h1 {
    font-weight: 400;
    font-size: 22px;
  }
}
