html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body,
#root,
.App {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 50px white inset;
}

input:-webkit-autofill:focus {
  box-shadow: 0 0 0 50px white inset;
}

:root {
  --bg-color: #444;
  --bg-color-light: #e4e4e4;
  --accent-color: #c0392b;
  /* --accent-color: #007AFF; */
  --border-color: #cdcdcd;
  --border-radius: 3px;
  --top-bar-height: 44px;
  --top-bar-font-size: 17px;
  --tab-bar-height: 49px;
  --tab-bar-bg-color: #f8f8f8;
  --spacing: 8px;
  --view-padding: --spacing;
  --z-tab-bar: 1;
  --z-top-bar: 1;
}

.logo {
  height: 35px;
}
