.log-list-entry {
  display: flex;
  align-items: center;
  width: 100%;
  padding: calc(1.5 * var(--spacing));
  padding-right: calc(4 * var(--spacing));
  color: #000;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, .2);
}

.log-list-entry__date {
  display: block;
  text-align: right;
  margin-right: calc(1.5 * var(--spacing));
  font-size: 36px;
  font-weight: 300;
  line-height: 1;
  min-width: 50px;
}

.log-list-entry__details {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1;
  color: #6f6f6f;
}

.log-list-entry__details :first-child {
  margin-bottom: 4px;
}
