.View {

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #fff;
  
  .Sheet & {
    height: calc(100vh - 44px - 26px);
    margin-top: 60px;
  }
  
  &.withTabBar {
    padding-bottom: 49px;
  }
  
  &.withTopBar {
    padding-top: calc(#{$topbar-height} + 20px);
    padding-top: calc(#{$topbar-height} + env(safe-area-inset-top));
  }
}

.ViewContent {
  flex-grow: 1;
  overflow-y: scroll;
  padding: 8px;
  -webkit-overflow-scrolling: touch;
}
