.View {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #fff;
  
  .Sheet & {
    height: calc(100vh - 44px - 26px);
    margin-top: 60px;
  }
  
  &.withTopBar {
    padding-top: 44px;
  }
  
  &.withTabBar {
    padding-top: 113px;
  }
}

.ViewContent {
  flex-grow: 1;
  overflow-y: scroll;
  padding: 8px;
  -webkit-overflow-scrolling: touch;
}
